*{
    background-color: #0f1014;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
}
/* Navigation Bar CSS */
.navbar{
    background-color: #0f101450;
    display: flex;
    /* position: fixed; */
    top: 0;
    z-index: 1;
    width: 100vw;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
}
.logoImg{
    align-self: center;
    width: 150px;
    height: 6%;
    padding-left: 20px;
}
.navitems{
    margin-right: auto;
    padding-top: 5px;
    display: flex;
}
.navlinks{
    font-size: 24px;
    margin: 15px;
    color: wheat;
    display: inline;
}
.navlinks a{
    color: white;
    text-decoration: none;
}
.endNav{
    padding-inline-end: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 15px;
}

.searchBar{
    border: none;
    border-bottom: 1px solid snow;
    background-color: #0f1014;
    font-size: 20px;
}
.subBtn{
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Inter';
    background-color: rgb(54, 144, 180);
    width: 150px;
    height: 40px;
}
.logBtn{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 600px){
    .navbar{
        flex-direction: column;
    }
    .navitems{
        flex-direction: column;
    }
    .endNav{
        display: flex;
        flex-direction: column;
    }
    .searchBar{
        display: none;
    }
}
/* Carousel CSS */
.Carousel{
    display: block;
    width: 90%;
    height: fit-content;
}
.gallery{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 50px;
    height: 100%;

}
.gallery::-webkit-scrollbar {   /*for Chrome*/
    display: none;
}
.carImg{
    width: 80%;
    height: 50rem;

}


/* SecondBOx */

.secondBox{
    display: inline-flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 20px;
    width: 75%;
    height: 180px;    

}

.Card1{
    position: relative;
    width: 18rem;
    height: 10rem;
    z-index: 0;

}
.secImg{
    width: 18rem;
    height: 10rem;
    border-radius: 3%;
}
.secVid
{
    top: auto;
    left: 0;
    position: absolute;
    z-index: -1;
}
@media (max-width: 600px){
    .secondBox{
        flex-direction: column;
    }
}

/* Third Box CSS */
.thirdBox{
    display: inline-flex;
    width: 75%;
    flex-direction: column;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.thirdBox::-webkit-scrollbar {   /*for Chrome*/
    display: none;
}
.thirdBoxHead{
    align-self: flex-start;
    padding-bottom: 20px;
}
.Cards2{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    /* justify-content: center; */
}
.Cards2Img{
    width: 12rem;
    height: 15rem;
    border-radius: 3%;
}